[distutils]
index-servers =
  pypi
  testpypi

[pypi]
repository: https://upload.pypi.org/legacy/
username: <USERNAME>
password: <PASSWORD>

[testpypi]
repository: https://testpypi.python.org/pypi
username: <USERNAME>
password: <PASSWORD>
